font face="Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif" size="2"
  | #{current_user.nickname} | #{link_to "Пользователи(#{User.where(approve: false).count})", admin_users_path} | #{link_to "Блоги (#{Blog.where(approve: false).count})",  admin_blogs_path} | #{link_to "Темы форума (#{Topic.where(approve:false).count})(#{Post.where(approve:false).count})", admin_forums_path} | #{link_to "Комментарии (#{Comment.where(approve: false).count})", admin_comments_path} | #{link_to 'Питомцы', admin_pets_path}(#{Mypet.where(approve:false).count}) | #{link_to "города", admin_cities_path} | #{link_to "статьи(#{Article.count})", admin_articles_path} | #{link_to "породы", admin_breeds_path} | #{link_to "Log(#{File.size("log/production.log").to_i/1024}Kb)", log_admin_index_path}
  = yield