<p> ав </p><p>а</p>а<p></p>а<p></p><p>а</p>
<center>
  <table border="1" width="70%">
    <tr align="center" height="133">
      <td><font size="16px">Собаки</font></td>
      <td><font size="16px">Кошки</font></td>
      <td><font size="16px">Спросить</font></td>
    </tr>
    <tr align="center" height="133">
      <td><font size="16px">Обсудить</font></td>
      <td><font size="16px">Блоги</font></td>
      <td><font size="16px">Статьи</font></td>
    </tr>
    <tr align="center" height="133">
      <td><font size="16px">Корма</font></td>
      <td><font size="16px">Ветеринарки</font></td>
      <td><font size="16px">Объявления</font></td>
    </tr>
  </table>
</center>