- content_for :title, "#{@user.nickname} #{"- " + @user.first_name if @user.first_name} #{" " + @user.last_name if @user.last_name}"
div class="content user-page"
  div class="profile-frame"
    div class="info-profile"
      = render partial: 'subscribe', object: @user, as: 'user'
    - if @user.pets.count == 0
      div class="info-pets"
        div class="image-holder"
          img src="../images/img20.jpg" width="600" height="470" /
          div class="footnote"
            p Пользователь пока не добавил ни одного питомца
    - else
      div class="info-pets"
        div class="pets-holder"
          ul class="info-pets-list tabset"
            - x = 0
            - @user.pets.each do |pet|
            - x = x + 1