<p>Добрый день, <%= @resource.email %>!</p>

<p>Для смены пароля пройдите по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали смену пароля - игнорируйте это письмо.</p>
